
body {
  margin-top: 50px;
  margin-left: 50px;
  background-color: #282828;
}

div {
  color: #33FF00
}

#title {
  font-size: 30px;
  color: #33FF00;
}

.ticket-input{
  width: 150px
}

.column-input{
  width: 150px
}

.flex-container {
  display: flex;                  /* establish flex container */
  align-items: flex-start;
}

.column {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 10px;
  color: #FFB000;
  border: 2px solid #33FF00;
  background-color: #282828;
  word-wrap: break-word;
}

.ticket {
  border: 1px solid #33FF00;
  word-wrap: break-word;
}

button {
  background-color: black;
  color: #33FF00;
}

.tkt-input{
  background-color: #282828;
  color: #33FF00;
}

.input-tkt-btn {
  background-color: black;
  color: #33FF00;
}

.col-input{
  background-color: #282828;
  color: #FFB000;
}

.input-col-btn {
  background-color: black;
  color: #33FF00;
}

::placeholder {
  color: #33FF00
}
